*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--fonts-font-texte);
    font-size: var(--text--h1);
    line-height: 1.6;
    background-color: var(--rose-orangé);
}

h1 {
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: var(--noir);
    font-size: var(--texte-h1);
    font-family: IBM Plex Serif
}

h2{
    font-weight: 600;
    letter-spacing: -0.05rem;
    color:var(--rouge-);
    font-size: var(--texte-h2);
    font-family: IBM Plex serif;
}

.type-blog{
    font-size: var(--texte-h3);
    font-family: Abel;
}

.exerbe {
    color: var(--jaune-foncé-);
    font-family: Times New Roman;
}

.sous-titre{
    color: var(--jaune-foncé-);
    font-family: Tahoma;
}

.définition {
    color: var(--jaune-or-);
    font-family: Tahoma;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__point-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-11 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-13 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-14 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-15 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-16 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}
.container__point-17 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.container__point-18 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.texte__frise{
    width: 145px;
    height: 64px;
}

button {
    display: flex;
    appearance: none;
    border: none;
    background: var(--jaune-or-);
    outline: none;
    border-radius: 18px;
    padding: 10;
    cursor: pointer;
}

.u-list-unstyled{
    list-style: none;
    padding: 2;
    margin: 0;
}