*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--fonts-font-texte);
    font-size: var(--text--h1);
    line-height: 1.6;
    background-color: var(--rose-orangé);
}

h1 {
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: var(--noir);
    font-size: var(--texte-h1);
    font-family: IBM Plex Serif
}

h2{
    font-weight: 600;
    letter-spacing: -0.05rem;
    color:var(--rouge-);
    font-size: var(--texte-h2);
    font-family: IBM Plex serif;
}

.type-blog{
    font-size: var(--texte-h3);
    font-family: Abel;
}

.exerbe {
    color: var(--jaune-foncé-);
    font-family: Times New Roman;
}

.sous-titre{
    color: var(--jaune-foncé-);
    font-family: Tahoma;
}

.définition {
    color: var(--jaune-or-);
    font-family: Tahoma;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__point{
    display: flex;
    align-items: center;
    justify-content: center;
}

.texte__frise{
    width: 145px;
    height: 64px;
}
.u-list-unstyled{
    list-style: none;
    padding: 2;
    margin: 0;
}