*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--fonts-font-texte);
    font-size: var(--text--h1);
    line-height: 1.6;
    background-color: var(--rose-orangé);
}

main {
    padding-top: 80px;
}

h1 {
    font-weight: 600;
    letter-spacing: -0.05rem;
    text-align: center;
    color: var(--noir);
    font-size: var(--texte-h1);
    font-family: IBM Plex Serif;
}

h2{
    font-weight: 600;
    letter-spacing: -0.05rem;
    text-align: center;
    color: var(--rouge-);
    font-size: var(--texte-h2);
    font-family: IBM Plex serif;
}

.type-blog{
    font-size: var(--texte-h3);
    font-family: Abel;
}

.exerbe {
    color: var(--jaune-foncé-);
    font-family: var(--texte-h3)
}

.sous-titre {
    text-align: center;
    color: var(--jaune-or-);
    font-family: Tahoma;
}

.définition {
    color: var(--jaune-or-);
    font-family: Tahoma;
}

.lien_glossaire {
    text-decoration: none;
    color: var(--jaune-or-);
}
.menu__link {
    text-decoration: none;
    color: var(--noir);
    font-family: var(--texte-h2);
}

button {
    display: flex;
    width: 40%;
    height: 100%;
    appearance: none;
    border: none;
    background: var(--jaune-or-);
    outline: none;
    border-radius: 18px;
    padding: 10;
    cursor: pointer;
}

.button__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__livre{
    margin: 20px;
}

.u-list-unstyled{
    list-style: none;
    padding: 2;
    margin: 0;
}