*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--fonts-font-texte);
    font-size: var(--text--h1);
    line-height: 1.6;
    background-color: var(--rose-orangé);
}

main {
    padding-top: 40px;
}

h1 {
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: var(--noir);
    font-size: var(--texte-h1);
    font-family: IBM Plex Serif;
}

h2{
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: var(--rouge-);
    font-size: var(--texte-h2);
    font-family: IBM Plex serif;
}

.type-blog{
    font-size: var(--texte-h3);
    font-family: Abel;
}

.exerbe {
    color: var(--jaune-foncé-);
    font-family: Times New Roman;
}

.sous-titre{
    color: var(--jaune-foncé-);
    font-family: Tahoma;
}

.définition {
    color: var(--jaune-or-);
    font-family: Tahoma;
}

.lien_glossaire {
    text-decoration: none;
    color: var(--jaune-or-);
}
.menu__link {
    text-decoration: none;
    color: var(--noir);
    font-family: var(--texte-h2);
}

.frise-chronologique {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}

/* Ligne verticale */
.frise-chronologique::before {
    content: "";
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: calc(100% - 320px);
    background-color: #000;
}

/* Texte des événements */
.texte__frise {
    width: 40%;
    font-size: 0.9rem;
    line-height: 1.4;
    margin: 32px 0;
}

/* Texte à gauche */
.texte__frise:nth-of-type(odd) {
    text-align: right;
    margin-right: 55%;
}

/* Texte à droite */
.texte__frise:nth-of-type(even) {
    text-align: left;
    margin-left: 55%;
}

/* Points */
[class^="container__point"] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

[class^="container__point"] img {
    width: 12px;
    height: 12px;
}

.container__point-1 {
    top: 300px;
}

.container__point-2 {
    top: 380px;
}

.container__point-3 {
    top: 460px;
}

.container__point-4 {
    top: 540px;
}

.container__point-5 {
    top: 620px;
}

.container__point-6 {
    top: 700px;
}

.container__point-7 {
    top: 780px;
}

.container__point-8 {
    top: 860px;
}

.container__point-9 {
    top: 940px;
}

.container__point-10 {
    top: 1020px;
}

.container__point-11 {
    top: 1100px;
}

.container__point-12 {
    top: 1180px;
}

.container__point-13 {
    top: 1260px;
}

.container__point-14 {
    top: 1340px;
}

.container__point-15 {
    top: 1420px;
}

.container__point-16 {
    top: 1500px;
}

.container__point-17 {
    top: 1580px;
}

.container__point-18 {
    top: 1660px;
}

button {
    display: flex;
    width: 40%;
    height: 100%;
    appearance: none;
    border: none;
    background: var(--jaune-or-);
    outline: none;
    border-radius: 18px;
    padding: 10;
    cursor: pointer;
    align-items: center;
}

.u-list-unstyled{
    list-style: none;
    padding: 2;
    margin: 0;
}