.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: var(--gris);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    z-index: 2000;
}

.header__link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.header__logo {
    width: 45px;
    height: auto;
}

.header__link p {
    font-family: var(--texte-texte-4);
    font-size: 25px;
    color: var(--noir-);
    text-align: center;
}

.header__traduction {
    width: 28px;
    height: auto;
    margin: 0 12px;
    cursor: pointer;
}

.header__menu-btn {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}