.card {
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: 1rem auto;
    background-color: var(--gris);
    overflow: hidden;
    gap: 0;
    text-decoration: none;
    margin-bottom: 1.5rem;
    align-items:center;
}

.card-image {
    flex: 0 0 40%;
    border-radius: 0;
}

.card-texte{
    flex: 1;
    padding: 2rem;
    background-color: var(--gris);
    color: #000;
    font-size: var(--texte-texte-2);
}
/* Responsive: empiler les éléments sur petits écrans */
@media (max-width: 700px) {
    .card {
        flex-direction: column;
    }

    .card-image {
        width: 100%;
        height: 220px;
    }

    .texte-card {
        width:40%;
        padding: 1rem 1.25rem;
    }
}