img {
    max-width: 100%;
    height: auto;
    background-size: contain;
}

.carousel__controls{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.carousel__button{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--jaune-or-);
    border-radius: 50%;
    top: 50%;
}

.carousel__track {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 16px;
}

.carousel__slide {
    flex: 0 0 260px;
}


