.menu {
    position: fixed;
    inset: 0;
    z-index: 12;
    color: black;
    display: flex;
    flex-direction: column;
    padding: var(--space-16px);
    visibility: visible;
}

.menu[hidden] {
    visibility: hidden;
}

.menu::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: var(--rose-orangé);
}

.menu__list {
    position: center;
    z-index: 5;
    margin-top: 5rem;
}

.menu-btn {
    position: relative;
    width: 60px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;
    border: none;
}

/* Trois barres horizontales du bouton menu */
.menu-btn__bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 3px;
    background: #fff;
    z-index: 1;
}

.menu-btn__bar--top {
    top: 18px;
}

.menu-btn__bar--middle {
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-btn__bar--bottom {
    bottom: 18px;
}