.menu {
    position: fixed;
    inset: 0;
    padding-top: 80px;
    /* laisse la place du header */
    z-index: 500;
    /* sous le header */
    display: none;
    /* masqué par défaut */
    flex-direction: column;
    color: #000;
}

.menu::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--rose-orangé);
    z-index: -1;
}

/* visible quand JS enlève hidden */
.menu[hidden] {
    display: none;
}

.menu:not([hidden]) {
    display: flex;
}

/* bouton burger */
.menu-btn {
    position: relative;
    width: 60px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
}

.menu-btn__bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 3px;
    background: #fff;
}

.menu-btn__bar--top {
    top: 18px;
}

.menu-btn__bar--middle {
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu-btn__bar--bottom {
    bottom: 18px;
}

/* liste du menu */
.menu__list {
    list-style: none;
    margin: 3rem 0 0;
    padding: 0 1.5rem;
}

.menu__item {
    margin-bottom: 1rem;
}

.menu__link {
    color: inherit;
    text-decoration: none;
}