/*Vendors*/
@import "vendors/normalize.css";

/*Utils*/
@import "utils/variables.css";

/*Base*/
@import "base/main.css";
@import "base/media.css";

/*Layout*/
@import "layout/header.css";
@import "layout/footer.css";

/*Components*/
@import "components/carousel.css";
@import "components/menu.css";
@import "components/card.css";